<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Journey to Knowledge</title>
    <link rel="stylesheet" href="./css/signup.css">
   
</head>
<body>

   
    <!-- Background for first page -->
    <div class="background"></div>

    <!-- Form starts here -->
    <form id="signupForm" action="/signup" method="post">
        <!-- First page content -->
        <div class="content">

            <h1>Your Journey to Knowledge Starts Here!</h1>
            <p>Ready to start? Elevate Your Education with EduAI!</p>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email address" required>

                <button type="button" onclick="showSecondPage()">Get Started</button>
                
            </div>
            <p class="login-link">Already have an account? <a href="/login">Login</a></p>
        </div>

        <!-- Second page content -->
        <div class="second-content container" style="display: none;">
            <h1>Let's Get Acquainted!</h1>
            <p>Enter your password and start learning.</p>
            <input type="text" name="name" placeholder="Name" class="input-field" required>
            <input type="password" name="password" class="input-field" placeholder="Enter your password" required>
           
            <button type="submit" class="button">Sign Up</button>
        </div>
    </form>

    <script>
       function showSecondPage() {
        var email = document.getElementById('email').value;
        if (email === "") {
            alert("Please enter your email address.");
            return false;
        }
        document.querySelector('.content').style.display = 'none';
        document.querySelector('.second-content').style.display = 'block';
    }
    </script>

</body>
</html>
